<div class="content-body">

<mat-card>
    <mat-card-content>
        <div class="header">
            <h1>Administración</h1>
        </div>
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
            <div class="user-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text" [(ngModel)]="username"  formControlName="user" required>
                    <mat-error *ngIf="loginForm.get('user')?.errors &&  loginForm.get('user')?.touched">
                        <span *ngIf="loginForm.get('user')?.hasError('required')">
                        El campo es requerido
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <br>
            <div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput  type="password" [(ngModel)]="password" formControlName="password" required>
                    <mat-error *ngIf="loginForm.get('password')?.errors &&  loginForm.get('password')?.touched" >
                        <span *ngIf="loginForm.get('password')?.hasError('required')">
                        El campos es requerido
                        </span>
                        <span *ngIf="loginForm.get('password')?.hasError('minlength')">
                        La contraseña debe tener al menos 6 caracteres
                        </span>
                    </mat-error>

                    
                </mat-form-field>
                
            </div>
            <br>
            <button mat-raised-button color="primary" type="submit">Login</button>
          

        </form>
        <br>
    </mat-card-content>
</mat-card>

</div>