<div>
    <table style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th style="border: 1px solid black; padding: 8px;">Nombre</th>
          <th style="border: 1px solid black; padding: 8px;">Foto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersWithPhotos">
          <td style="border: 1px solid black; padding: 8px;">{{ user.nombres }}</td>
          <td style="border: 1px solid black; padding: 8px;">
            <img [src]="getImagePath(user)" alt="Foto del usuario" style="max-width: 150px; max-height: 150px;">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  