<!DOCTYPE html>
<html>
<head>
    <title>Tabla de Personas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    <h1>Usuarios Aceptados</h1>
    <div class="container">
        
        <table class="table">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cédula</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Género</th>
                    <th>Vehículo</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jhon</td>
                    <td>Zambrano</td>
                    <td>1716434970</td>
                    <td>jkzambrano2@espe.edu.ec</td>
                    <td>0939765584</td>
                    <td>Coop. Carlos Ruiz Burneo</td>
                    <td>Hombre</td>
                    <td>Automóviles</td>
                    <td>45$</td>
                </tr>
            </tbody>
        </table>

    </div>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
