<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  
  <title>Formulario Registro</title>

</head>
<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="form-bg">
        <form *ngIf="studentForm" #studentForm="ngForm" (ngSubmit)="RegisterStudent(studentForm)" (ngSubmit)="contactForm(form.value)" #form="ngForm">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">REGISTRO RENTA DE AUTOS</h3>
            </div>
            <br>

            <div class="form-group">
              <label for="nombres"><i class="fas fa-user"></i> Nombres</label>
              <input id="nombres" type="text" class="form-control" name="nombres" [(ngModel)]="studentForm.value['nombres']" required maxlength="100">
              <div *ngIf="studentForm.controls['nombres']?.invalid && (studentForm.controls['nombres']?.dirty || studentForm.controls['nombres']?.touched)">
                <small class="text-danger">Ingrese un nombre válido (máximo 100 caracteres)</small>
              </div>
            </div>
              
            <div class="form-group">
              <label for="apellidos"><i class="fas fa-user"></i> Apellidos</label>
              <input id="apellidos" type="text" class="form-control" name="apellidos" [(ngModel)]="studentForm.value['apellidos']" required maxlength="100">
              <div *ngIf="studentForm.controls['apellidos']?.invalid && (studentForm.controls['apellidos']?.dirty || studentForm.controls['apellidos']?.touched)">
                <small class="text-danger">Ingrese un apellido válido (máximo 100 caracteres)</small>
              </div>
            </div>
            
            <div class="form-group">
              <label for="cedula"><i class="fas fa-id-card"></i> Cédula</label>
              <input id="cedula" type="text" class="form-control" name="cedula" [(ngModel)]="cedula" required pattern="[0-9]{10}" (input)="filterNumeric($event)">
              <div *ngIf="studentForm.controls['cedula']?.invalid && (studentForm.controls['cedula']?.dirty || studentForm.controls['cedula']?.touched)">
                <small class="text-danger">Ingrese una cédula válida (10 dígitos)</small>
              </div>
              <div *ngIf="cedula && !validarCedulaEcuatoriana(cedula)">
                <small class="text-danger">La cédula no es Ecuatoriana</small>
              </div>
            </div>
            
            <div class="form-group">
              <label for="email"><i class="fas fa-envelope"></i> Email</label>
              <input id="email" type="email" class="form-control" name="email" [(ngModel)]="studentForm.value['email']" required email>
              <div *ngIf="studentForm.controls['email']?.invalid && (studentForm.controls['email']?.dirty || studentForm.controls['email']?.touched)">
                <small class="text-danger">Ingrese un correo electrónico válido</small>
              </div>
            </div>
            
            <div class="form-group">
              <label for="telefono"><i class="fas fa-phone"></i> Teléfono</label>
              <input id="telefono" type="tel" class="form-control" name="telefono" [(ngModel)]="studentForm.value['telefono']" required pattern="[0-9]{10}" (input)="filterNumeric($event)">
              <div *ngIf="studentForm.controls['telefono']?.invalid && (studentForm.controls['telefono']?.dirty || studentForm.controls['telefono']?.touched)">
                <small class="text-danger">Ingrese un número de teléfono válido (10 dígitos)</small>
              </div>
            </div>
            
            <div class="form-group">
              <label for="direccion"><i class="fas fa-home"></i> Dirección</label>
              <input id="direccion" type="text" class="form-control" name="direccion" [(ngModel)]="studentForm.value['direccion']" required maxlength="100">
              <div *ngIf="studentForm.controls['direccion']?.invalid && (studentForm.controls['direccion']?.dirty || studentForm.controls['direccion']?.touched)">
                <small class="text-danger">Ingrese una dirección válida (máximo 100 caracteres)</small>
              </div>
            </div>
            
            <div>
              <label>Género:</label>
              <div>
                <label>
                  <input type="radio" name="genero" value="Hombre" [(ngModel)]="selectedGender"> Hombre
                </label>
              </div>
              <div>
                <label>
                  <input type="radio" name="genero" value="Mujer" [(ngModel)]="selectedGender"> Mujer
                </label>
              </div>
              <div>
                <label>
                  <input type="radio" name="genero" value="Otros" [(ngModel)]="selectedGender"> Otros
                </label>
              </div>
            </div>
            
            <div class="form-group">
              <label><i class="fas fa-car"></i> Vehículo a rentar</label>
              <select class="form-control" name="vehiculoarentar" [(ngModel)]="autos" required>
                <option value="busetas">Busetas</option>
                <option value="automoviles">Automóviles</option>
                <option value="camionetas">Camionetas</option>
              </select>
            </div>
            
            <div class="form-group">
              <label><i class="fas fa-dollar-sign"></i> Costos</label>
              <select class="form-control" name="costos" [(ngModel)]="costos" required>
                <option value="lunesviernes">Lunes a Viernes</option>
                <option value="finessemana">Fines de Semana</option>
                <option value="semanacompleta">Semana Completa</option>
              </select>
            </div>

            <div class="form-group">
              <label hidden><i class="fas fa-question-circle"></i>Estado</label>
              <input hidden type="text" class="form-control" name="estado" [(ngModel)]="estado" />
            </div>
            
            <div class="form-group">
              <div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
